/* ============================================================================
 * # Theme: Midnight / Components: Tab Item
 * ============================================================================ */

[data-theme="midnight"] {
  --tmit-tab-item-bg: #192734;
  --tmit-tab-item-bg-hover: #22303c;
  --tmit-tab-item-bg-active: #1d9bf0;

  --tmit-tab-item-text: #ffffff;
  --tmit-tab-item-text-active: #ffffff;

  --tmit-tab-item-border: transparent;
  --tmit-tab-item-border-active: transparent;

  --tmit-tab-item-action-icon: #8899ac;
  --tmit-tab-item-action-icon-active: var(--tmit-tab-item-text-active);
  --tmit-tab-item-action-icon-pinned: #1d9bf0;

  --tmit-tab-item-action-icon-bg-hover: rgb(136 153 172 / 0.3);
}
